@import './theme.scss';

.collection {
  display: flex;
  flex-direction: column;
  border: 1px solid $border;
  border-radius: 10px;
  margin-top: 20px;
  min-width: 300px;
  overflow: hidden;
  width: 320px;
  height: 400px;

  .col-logo {
    min-width: 300px;
    width: 320px;
  }
  .col-content {
    flex: 1;
    background-color: white;
    color: black;
    padding: 10px;
  }
}
